#displayarea{
    position: relative;
    height: 600px;
    width: 600px;
    background-color: aqua;
}
.square{
    position: absolute;
    background-color: red;
}
.rectangle{
    position: absolute;
    background-color: purple;
}
.circle{
    border-radius: 50%;
    position: absolute;
    background-color: coral;
}