#displayarea{
    position: relative;
    height: 600px;
    width: 600px;
    background-color: aqua;
}
.square{
    cursor: pointer;
    position: absolute;
    background-color: red;
}
.rectangle{
    cursor: pointer;
    position: absolute;
    background-color: purple;
}
.circle{
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    background-color: coral;
}
.triangle{
    cursor: pointer;
    position: absolute;
    border-bottom: solid green;
    border-right: solid transparent;
}